.container-login {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f6f7f9;
}

.img-background {
    height: 50%;
}

.img-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    height: 50%;
    width: 50%;
    margin: 0 auto;
}

.card-login-area {
    flex-direction: column;
    align-items: flex-end;
}

.footer-content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
}

.copyright {
    font-size: 10px;
    letter-spacing: 1px;
}

.credits {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-btn{
    border: 1px solid #1D457A;
    color: #1D457A;
    font-size: 20px;
    font-weight: 400;
    
  }

  .footer-btn:hover{
    cursor:pointer;
  }




