.marg_top_60 {
    margin-top: 60px !important;
}
.marg_bottom_60 {
    margin-bottom: 60px !important;
}
.top-container {
    display: flex;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
}
.cards-content {
    padding-top: 70px;
}

.card-title-label{
    font-size: 20px;

}
.card-row-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.search-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4rem;
}

input::placeholder {
    color: red;
}

.card-buy-title {
    color: linear-gradient(to right, #ff005b, #ff6f33) !important;
}
.tax-area{
    display:flex;
    justify-content: center;
    align-items: center; 
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-position: center center !important;
    background-size: cover !important;
    height: 425px;
}
.textarea-tax-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.textarea-tax-desc > p > span {
    color: #fff;
}
.content-area{
    width: 1100px;
}
.icons-area{
    background-color: #f1f1f1;
    max-width: 100%;
    display: flex;
    /* height: 400px; */
    max-height: 100%;
    /* width: 900px; */
    justify-content: center;
    flex-wrap: wrap;
    
}

.icons-area .icon-first-line > div, .icon-second-line > div {
    text-align: center;
}
.icons-area .icon-first-line {
    width: 100%;
    display: flex;
    justify-content: center;
    /* flex-wrap: nowrap; */
}

.icons-area .icon-second-line {
    width: 100%;
    display: flex;
    justify-content: center;
    /* flex-wrap: nowrap; */
}
.header-managmnet{
    font-size: 40px;
    font-weight: 100;
    color: #000;
}
.header-managmnet > span{
    font-weight: 900; 
    color: #000; 
    font-size: 40px;
}
.mngt-line-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mngt-line-area > div > h6 {
    font-size: 14px;
    color: #505050;
}
.management-area-col2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.org-area{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-repeat: no-repeat;
    background-size: cover !important;
    height: 731px;
}
.org-app-title{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}
.org-app-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: flex-start; */
    background-color: rgba(255, 255, 255, 0.6);
    height: 450px;
    /* width: 1000px; */
    /* width: 100%; */
    max-width: 65%;
    /* flex-wrap: nowrap; */
    padding-top: 40px;
    padding-left: 30px;
    
}

.img-mac-book {
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.img-app-book{
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    /* width: "370px";
    height: "276px"; */
}

.org-app-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 1px solid black; */
    width: 100%;
    
}
.org-app-description{
    font-size: 20px;
    color: #2b2b2b;
    font-weight: 400;
}
.aqui1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* flex-wrap: nowrap; */
}
.playstore-img-area{
    
    width: 195px;
    height: auto;
}
.app-img-area{
    width: 270px;
    height: 176px;
    /*  
        width: 370px;
        height:270px;
    */
}

.advantage-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    line-height: 1.9;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100%;
}
.advantage-area > div { 
    border-radius: 10px;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}

.advantage-content > p{
    color: #2b2b2b;
    font-weight: 400;
    font-size: 17px;
}
.fa-check {
    color: #31924c;
    font-size: 20px;
}

.advantage-area > table > tbody > tr > td > p {
    color: #505050;
}
@media only screen and (max-width: 1200px){
    .top-container {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}
@media only screen and (max-width: 992px) {
    .icons-area-div > div > div > h4 {
        font-size: 12px;
        font-weight: 700;
    }
    .top-container > div > div {
        width: 612px;
        height: 350px;
    }
}
@media only screen and (max-width: 767px){
    .top-container {
        display: none !important;
    }
}
@media only screen and (max-width: 540px){
    .header-managmnet {
        font-size: 25px;
    }
    .header-managmnet > span {
        font-size: 29px;
    }
    .textarea-tax-desc{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .toy-image {
        display: none;
    }
    .org-area{
        padding-top:7px;
    }
    .org-app-title {
        font-size: 18px;
    }
    .org-app-area{
        max-width: 100%;
        padding-top:5px;
        margin-top:5px;
    }
    .org-app-description > p {
        font-size: 12px;
    }
    .org-app-content > div > h3{
        font-size: 18px;
    }
    .org-app-area{
        height: 600px;
    }
    .search-area, .search-input {
        margin-top: 20px !important;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 427px){
    .top-content-bg > div > span {
        font-size: 13px;
        font-weight: 600;
        color: #fff;
    }
    .simple-area {
        padding-left: 35px; 
    }
    .org-app-description > p {
        font-size: 16px;
    }
    
}
@media only screen and (max-width: 375px){
/* @media only screen and (max-width: 350px){ */
    .org-app-description > p {
        font-size: 12px;
    }
    .top-content-bg > div > span {
        font-size: 13px;
        font-weight: 600;
        color: #fff;
    }
    .org-area{
        padding-top:7px;
    }
    .org-app-title {
        font-size: 18px;
    }
    .org-app-area{
        padding-top:5px;
        margin-top:5px;
    }
    .org-app-content > div > h3{
        font-size: 18px;
    }
    .playstore-img-area{
        width: 100%;
    }
}


